body{
  font-family:Tahoma;
  background:#f5f5f5;
  margin:0;
}

.view{display:none;padding:10px}
.view.active{display:block}

.company-card, .product-card{
  background:#fff;
  margin:10px 0;
  padding:10px;
  border-radius:10px;
}

button{
  padding:8px 12px;
  border:none;
  border-radius:8px;
  background:#1E3A8A;
  color:#fff;
}